html,body{
    background-color: ;
    font-family:Avenir , "Open Sans" , "Helvetica Neue" , "Helvetica" , "Arial" , "Verdana" , "Roboto" , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , "Meiryo" , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;


    
    color: #524556;


}

.top{
    background-image: url("../img/top-img.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 287px;
    width: 100%;
    text-align: center;
    padding: 40px 0;
}

.top h1{
    font-size: 80px;
    margin-top: 100px;
    margin-bottom: 100px;

}
.top h1 img{
    height: 60px; 
    margin-right: 10px;
    vertical-align: bottom;
}
.top a{
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
    border: 2px #fff solid;
    text-shadow:0px 0px 20px #524556;
    padding: 8px 50px;
    border-radius: 30px;
    transition: 0.3s;
    
}

.top a:hover{
    background: #FFF;
    color: #524556;
}

.about{
    background-color: #FBE0E2;
    text-align: center;
    position: relative;

}

.about ul{
    list-style: none;
    width: 960px;
    overflow: auto;
    margin: 0 auto;
    padding: 50px 0% 70px 0%;
    text-align: center;
}
.about ul li {
    text-align: center;
    width: 280px;
    float: left;
    margin: 0 auto;
    padding: 20px;
    margin-top: 10px;
}

.about img{
    float: bottom;
    width: 100px;
    margin-bottom: 20px;
}
.about h2{
    font-size: 18px;
    margin-bottom: 20px;
}

.about p{
    text-align: justify;
    font-size: 12px;
    line-height: 20px;
}

.description{
    padding: 50px 30% 50px ;
    text-align: center;
    background-image: url("../img/about-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

.description h1{
    font-size: 36px;
    margin-bottom: 30px;
}

.description p{
    text-align: justify;
    font-size: 12px;
    line-height: 24px;

}

.course{
    background-color: #FBE0E2;
    padding: 50px 0%;
    height: 287px;
    width: 100%;
    float: left;
}
.course h1{
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
    
}
.course img{
    float: left;
    clear: left;
    width: 100px;
    margin-right: 10px;
}
.course2{
    width: 100%;
    clear: bottom;
}
.course3{
    padding: 0 30%;
}

.course h2{
    
    margin-bottom: 30px;
    font-size: 24px;
    
}
.course p{
    text-align: justify;
    font-size: 12px;
    line-height: 24px;
    width: 100%;

}


/* iPHone4,iPhone5,iPhone5s,iPhone6 */
@media screen and (max-width: 960px)
{
    body{
        font-size: 16px;
        
    }

    .description{
        padding: 50px 10% 50px ;
        text-align: center;
        background-image: url("../img/about-img.png");
        background-size: auto;
        background-repeat: no-repeat;

    }
    
    .description h1{
        font-size: 30px;
    }
    
    .about ul{
        list-style: none;
        width: 320px;
        overflow: auto;
        margin: 0 auto;
        padding: 50px 0% 70px 0%;
        text-align: center;
    }
    .about ul li {
        text-align: center;
        width: 280px;
        float: bottom;
        margin: 0 auto;
        padding: 20px;
        margin-top: 10px;
    }
    
    .course3{
        padding: 0 10%;
        
    }
    .course2 h2{
        font-size: 18px;
    }
    
}

#entry{
    display: block; 
    margin-top: 400px;
}

@media screen and (max-width: 320px)
{
    body{
        font-size: 16px;

    }
    .top h1{
        font-size: 40px;
    }

    .top h1 img{
        height: 40px;
        margin-right: 10px;
        vertical-align: bottom;
    }
    .description{
        padding: 50px 10% 50px ;
        text-align: center;
        background-image: url("../img/about-img.png");
        background-size: auto;
        background-repeat: no-repeat;

    }

    .description h1{
        font-size: 24px;
    }.about ul{
        list-style: none;
        width: 280px;
        overflow: auto;
        margin: 0 auto;
        padding: 50px 0% 70px 0%;
        text-align: center;
    }
    .about ul li {
        text-align: center;
        width: 260px;
        float: bottom;
        margin: 0 auto;
        padding: 10px;
        margin-top: 10px;
    }

    .course3{
        padding: 0 10%;

    }
    
    .course2 h2{
        font-size: 16px;
    }

}
